<div class="col-6 flex">
    <div class="p-grid" style="margin-left: 200px; margin-top: 50px;">
        <p style="font-size:21px; padding-top: 10px; font-size: 35px; text-align: center;" class="fuente">
            AV. Alem - Cipolletti
            <br>
            Lunes a Viernes de 11:00 a 18:00
            <br>
            Sábados de 11:00 a 14:00
        </p>
    </div>
    <div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12414.932084661315!2d-67.96429794999999!3d-38.930079299999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1638058687678!5m2!1ses-419!2sar"
            width="600" height="600" style="margin: 100px ;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>