
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{titulo}}</h5>
        <div [formGroup]="productsForm" (ngSubmit)="AgregarEditarProducto()">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                </div>
                <div class="col">
                    <input type="text" class="form-control"formControlName="precio" placeholder="Precio">
                </div>
            </div>
            <div>
                <input type="text" class="form-control" formControlName="descripcion" placeholder="Descripcion">
            </div>
            <div>
                <input type="file" (change)="subirImagen($event)" accept="image/*" class="form-control">
            </div>
            <div>
                <button type="button" class="btn btn-secondary">Secondary</button>
                <button type="button" class="btn btn-success">Success</button>
            </div>
        </div>
    </div>
</div>