<div class="row">
    <div clasS="col-4">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <div class="row justify-content-center">
                    <div class="col-6">
                        <a href="#" class="btn btn-primary">Eliminar</a>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary" data-bs-target="#exampleModal" (click)="editarProductos()">Editar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>