<div class="table-responsive">
  <table class="table" style="margin-top: 10px;">
    <thead>
      <tr>
        <th scope="col">Imagen del producto</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">información</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-primary" *ngFor="let item of productos">
        <td >{{item.img}}</td>
        <td>{{item.producto}}</td>
        <td>{{item.precio}}</td>
        <td>{{item.descripcion}}</td>
        <td>
          <button [routerLink]="['/editar',item.id]" type="button" class="btn btn-secondary">Editar</button>
          <button (click)="EliminarProducto(item.id)" type="button" class="btn btn-success">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>