<div class="table-responsive">
  <table class="table" style="margin-top: 10px;">
    <thead>
      <tr>
        <th scope="col">Imagen del producto</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">información</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-primary" *ngFor="let item of productos">
        <th scope="row">{{item.producto}}</th>
        <td >{{item.img}}</td>
        <td>{{item.precio}}</td>
        <td>{{item.info}}</td>
      </tr>
    </tbody>
  </table>
</div>
