<div class="table-responsive">
  <table class="table" style="margin-top: 10px;">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen del producto</th>
        <th scope="col">Información del producto</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-primary" *ngFor="let item of productos">
        <th scope="row">{{item.producto}}</th>
        <td>{{item.precio}}</td>
        <td >{{item.img}}</td>
        <td>{{item.info}}</td>
        <td>
          <button type="button" class="btn btn-primary m-1" (click)="onGoToEditar(item.id)">Editar</button>
          <button type="button" class="btn btn-secondary m-1" (click)="onGoToInfo(item)">Info</button>
          <button type="button" class="btn btn-danger m-1" (click)="onGoToEliminar(item)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
