<h5 class="cerca">ACERCA DE NOSOTROS</h5>
<div class="container-fluid grid">
    <div class="row">
        <div class="col-4">
            <figure class="snip1543 ">
                <img class="tamano" src="../../../assets/Imagenes/1.jpeg" alt="sample108">
                <figcaption>
                    <h3>Nacimiento</h3>
                    <p>nuestra empresa se fundó en 2014</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-4">
            <figure class="snip1543 ">
                <img class="tamano" src="../../../assets/Imagenes/2.jpg" alt="sample101">
                <figcaption>
                    <h3>Que buscamos?</h3>
                    <p>Buscamos el confort para los clientes <br> y que se sientan lo mas comodos posibles con nuestros
                        productos</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-4">
            <figure class="snip1543 ">
                <img class="tamano" src="../../../assets/Imagenes/3.jpg" alt="sample101">
                <figcaption>
                    <h3>Sucursales</h3>
                    <p>Por ahora contamos con sucursales en Cipolleti Rio Negro. <br> Calle: Av alem y Libertad 1720</p>
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <figure class="snip1543 ">
                <img class="tamano" src="../../../assets/Imagenes/4.jpg" alt="sample101">
                <figcaption>
                    <h3>Marcas</h3>
                    <p>trabajamos con una selección de productos de distintos diseñadores y marcas reconocidas,
                        ofreciendo
                        una
                        variedad de productos para satisfacer todos los gustos.</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-4">
            <figure class="snip1543 ">
                <img class="tamano" src="../../../assets/Imagenes/zapa.jpg" alt="sample101">
                <figcaption>
                    <h3>Metodos de Pago</h3>
                    <p>Por el momento trabajamos solamente con Mercado pago y en efectivo.</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-4">
            <figure class="snip1543 "><img class="tamano" src="../../../assets/Imagenes/6.jpg" alt="sample101" />
                <figcaption>
                    <h3>Contacto</h3>
                    <p>Comunicate con nosotros mediante nuestras redes sociales:</p>
                    <br>
                    <p>
                        <li><b>Facebook: <br>ZappaOficial</b></li>
                    </p>
                    <br>
                    <p>
                        <li><b>Whatsapp: <br>+54 299-9484930</b></li>
                    </p>
                </figcaption>
            </figure>
        </div>
    </div>
</div>