<figure class="snip1543">
    <img src="https://imagenes.elpais.com/resizer/BbD6vXHPC5-mJMLjbUNPV6kWUZM=/1960x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/N6GCCGSJYVDJNBHYVZSBLBGZSE.png" alt="sample108" />
    <figcaption>
      <h3>Inverness McKenzie</h3>
      <p>The only skills I have the patience to learn are those that have no real application in life.</p>
    </figcaption>
    
  </figure>
  <figure class="snip1543"><img src="https://i.blogs.es/572726/las-zapatillas-de-puma-reebok-adidas-y-muchas-marcas-mas-que-encontraras-rebajadas-en-asos-para-pisar-fuerte-este-fin-de-semana/375_375.jpeg" alt="sample101" />
    <figcaption>
      <h3>Indigo Violet</h3>
      <p>But Calvin is no kind and loving god! He's one of the old gods! He demands sacrifice! </p>
    </figcaption>
    
  </figure>
  <figure class="snip1543"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample101.jpg" alt="sample101" />
    <figcaption>
      <h3>Indigo Violet</h3>
      <p>But Calvin is no kind and loviasdasjdjasjdjasdjasdjajsjdjasjdjasjdjasjdjajsdjajsjdjasjdjasjdjasjdjajsng god! He's one of the old gods! He demands sacrifice! </p>
    </figcaption>
  </figure>