<div id="faq" >
    <h1 style="margin-top: 5%;">Preguntas Frecuentes (FAQ)</h1>
    <ul>
      <li *ngFor="let preguntas of preguntasf">
        <div *ngIf="user" style=" z-index: 1000000000; display: flex; justify-content: flex-end; " class="w-100">
          <button [routerLink]="['/editpre',preguntas.id]" type="button" class="btn btn-success ">EDITAR</button>
        </div>
        <input type="checkbox" checked>
        <i></i>
        <h2>{{preguntas.pregunta}}</h2>
        <p>{{preguntas.respuesta}}</p>
      </li>
    </ul>
  </div>